@font-face {
  font-family: Avenir_LT_W02_85_Heavy;
  src: url('../assets/fonts/e9427e66-afa8-4ceb-bb31-7a970fb469ea.eot?#iefix')
      format('eot'),
    url('../assets/fonts/748da442-9dd9-4a4d-8da0-b114e16e5d7f.woff') format('woff'),
    url('../assets/fonts/6beeeb66-0b4e-4162-8788-8bf688b9829a.ttf')
      format('truetype'),
    url("../assets/fonts/8afe744b-89a2-4ae2-a88e-05c6882580f3.svg#8afe744b-89a2-4ae2-a88e-05c6882580f3") format('svg');
  font-style: normal;
  font-weight: 700;
}
